GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_TOKEN_ENCRYPTION_KEY=
GOOGLE_DRIVE_ACCOUNT_EMAIL=
GOOGLE_CHARACTERS_SHEET_ID=
GOOGLE_CHARACTERS_TAB=Personnages
ADMIN_EMAIL=
ADMIN_SETUP_CODE=
